<header>
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left">
                <li><a href="#"><i class="fa fa-phone"></i> +055 061 995 995 532</a></li>
                <li><a href="#"><i class="fa fa-envelope-o"></i> <span class="__cf_email__"
                            data-cfemail="adc8c0ccc4c1edc8c0ccc4c183cec2c0">[email&#160;protected]</span></a></li>
                <li><a href="#"><i class="fa fa-map-marker"></i> Brasília-DF</a></li>
            </ul>
            <ul class="header-links pull-right">
                <li><a href="#"><i class="fa fa-dollar"></i> Real (R$)</a></li>
                <li><a href="#"><i class="fa fa-user-o"></i> Perfil de Usuário</a></li>
            </ul>
        </div>
    </div>
    <div id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="header-logo"> <a href="#" class="logo"> <img src="/assets/img/logo.png" alt=""> </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="header-search">
                        <form> <select class="input-select">
                                <option value="0">Categorias</option>
                                <option value="1">Category 01</option>
                                <option value="1">Category 02</option>
                            </select> <input class="input" placeholder="Procurar Produto"> <button
                                class="search-btn">Produto</button> </form>
                    </div>
                </div>
                <div class="col-md-3 clearfix">
                    <div class="header-ctn">
                        <div> <a href="#"> <i class="fa fa-heart-o"></i> <span>Preferidos</span>
                                <div class="qty">2</div>
                            </a> </div>
                        <div class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <i class="fa fa-shopping-cart"></i> <span>Carrinho</span>
                                <div class="qty">3</div>
                            </a>
                            <div class="cart-dropdown">
                                <div class="cart-list">
                                    <div class="product-widget">
                                        <div class="product-img"> <img src="/assets/img/product01.png" alt=""> </div>
                                        <div class="product-body">
                                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                            <h4 class="product-price"><span class="qty">1x</span>$980.00</h4>
                                        </div> <button class="delete"><i class="fa fa-close"></i></button>
                                    </div>
                                    <div class="product-widget">
                                        <div class="product-img"> <img src="/assets/img/product02.png" alt=""> </div>
                                        <div class="product-body">
                                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                            <h4 class="product-price"><span class="qty">3x</span>$980.00</h4>
                                        </div> <button class="delete"><i class="fa fa-close"></i></button>
                                    </div>
                                </div>
                                <div class="cart-summary"> <small>3 Item(s) selected</small>
                                    <h5>SUBTOTAL: $2940.00</h5>
                                </div>
                                <div class="cart-btns">
                                    <a routerLink="/cart">Ver Carrinho</a> 
                                    <a routerLink="/checkout">Finalizar<i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="menu-toggle"> <a href="#"> <i class="fa fa-bars"></i> <span>Menu</span> </a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<nav id="navigation">
    <div class="container">
        <div id="responsive-nav">
            <ul class="main-nav nav navbar-nav">
                <li class="active"><a href="#">Principal</a></li>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Categorias</a></li>
                <li><a href="#">Laptops</a></li>
                <li><a href="#">Smartphones</a></li>
                <li><a href="#">Cameras</a></li>
                <li><a href="#">Acessórios</a></li>
            </ul>
        </div>
    </div>
</nav>